/* INICIO */
*{
        margin: 0;
        padding: 0;
        /* box-sizing: border-box; */
        
}

body{
    background-color: rgb(236,202,158);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20px;
    border: 1px solid rgb(0, 0, 0);
}

.navegador{

    text-align: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: url(anillos.jpg);
    background-repeat: no-repeat;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding-bottom: 10%;
    letter-spacing: 1px;
}
section{
    padding: 10px;
}
.separacion{
    background-color: rgb(202, 157, 98);
    border: 1px solid rgb(0, 0, 0);
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 10px;
}
.presentacionfotografa{
    columns:2;

}

footer{
    text-align: center;
    letter-spacing: 1px;
    border-radius: 10px;
}


/* fin INICIO */




/* comienza GALERIA */
/* .body{
    overflow: hidden;
} */
.contenedor-general{
    width: 100vw;
    height: 70vh;
    background-color: #bca896;
}
.cont-galeria1 {
    width: 70%;
    background-color: #eae4d0;
    position: absolute;
    transform: translateX(-100%); 
    animation: desplazamiento 1s linear forwards 2s; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    
    /* Esto es para la animación */
    
}
.cont-galeria2 {
    width: 70%;
    background-color: #eae4d0;
    position: absolute;
    transform: translateX(150%) translateY(60vh); /* Iniciar fuera de la pantalla */
    animation: desplazamiento2 1s linear forwards 4s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    border: 1px solid grey;
    border-radius: 5px;
}

.card1 {
    
    background: url(../imagenes/galeria/pareja/beso.jpeg);
    
}
.card2 {
    
    background: url(../imagenes/galeria/pareja/beso2.jpeg);
    
    
}
.card3 {
    
    background: url(../imagenes/galeria/pareja/pareja1.svg);
    
}
.card4 {
    
    background: url(../imagenes/galeria/salon/panoramica.svg);
    
}
.card5 {
    
    background: url(../imagenes/galeria/salon/altar1.svg);
    
    
}
.card6 {
    
    background: url(../imagenes/galeria/salon/altar2.svg);
    
}
.card {
    width: calc(33.33% - 20px); 
    margin-bottom: 20px; 
    aspect-ratio: 16/9;
    background-size: cover; 
    background-position: center; 
    border-radius: 5px;
    cursor: pointer;

}
.card1.agrandar{
    width: 70%; /* O cualquier otro tamaño que desees */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.card1.agrandar{
    width: 70%; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.card2.agrandar{
    width: 70%; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.card3.agrandar{
    width: 70%; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.card4.agrandar{
    width: 70%; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.card5.agrandar{
    width: 70%; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.card6.agrandar{
    width: 70%; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.close-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .cont-galeria1 {
        flex-wrap: wrap; 
    }
    .cont-galeria2 {
        flex-wrap: wrap; 
    }
    .card1 {
        width: calc(100% - 20px); 
    }
    .card2 {
        width: calc(100% - 20px); 
    }
    .card3 {
        width: calc(100% - 20px); 
    }
    .card4 {
        width: calc(100% - 20px); 
    }
    .card5 {
        width: calc(100% - 20px); 
    }
    .card6 {
        width: calc(100% - 20px); 
    }
}
@keyframes desplazamiento {
    0% {
        transform: translateX(-100%); /* Posición inicial fuera de la pantalla */
    }
    100% {
        transform: translateX(10vw); /* Posición final en el centro de la pantalla */
    }
}
@keyframes desplazamiento2 {
    0% {
        transform: translateX(150%) translateY(60vh); /* Posición inicial fuera de la pantalla a la derecha */
    }
    100% {
        transform: translateX(10vw) translateY(60vh);
        opacity: 1; 
    }
}
/*finaliza  GALERIA */



/* comienza SOBRE MI */



/* finaliza SOBRE MI */



/* comienza CONTACTO */



/* finaliza CONTACTO */
