/* INICIO */
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}


/* fin INICIO */




/* comienza GALERIA */



/*finaliza  GALERIA */



/* comienza SOBRE MI */



/* finaliza SOBRE MI */



/* comienza CONTACTO */



/* finaliza CONTACTO */